.vp-hero-image {
    display: block;
    // max-width: 60%;
    max-height: 180px; /* 自定义图片的最大高度 */
    margin: 3rem auto 1.5rem;
  }

  .vp-site-logo {
    vertical-align: middle;
    height: 27px;
}


 
  